.env
.rvmrc
.ruby-gemset
.rbenv-gemsets
.powrc
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/vendor/ruby
/log/*
.log
/tmp/*
/db/*.sqlite3
/public/system/*
public/assets/*
public/vendor/reactStuff.js
public/vendor/reactStuff-manifest.json
/private_uploads/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
config/mongoid.yml
config/initializers/echosign_api.rb
public/uploads/*
private_uploads/*
coverage/*
signed_pdf.pdf
latest.dump
logfile
vendor/gems/
spec/javascripts/compiled/*
public/javascripts/compiled/*
.sly
*.dump
/lib/tasks/test.rake
tags
.idea/

# Ignore application configuration
/config/application.yml
/config/intermediary.yml
/config/database.yml

# Zeus files
zeus.json
custom_plan.rb
gems.tags
gems.tag
app/models/schema_migration.rb
dump.rdb
node_modules/
/app/assets/javascripts/react_bundle*.js
/app/assets/stylesheets/react_bundle*.css
npm-debug.log
npm-debug.log.*
.eslintcache

.tmp
.nyc_output

GPATH
GRTAGS
GTAGS
ETAGS
bundle_gems.tar.gz
node_modules.tar.gz
.floo
.flooignore
.prettierignore
build/storybook/.out
.vscode/
.importjs.js
.byebug_history
.rubocop-http*

.solargraph.yml

# Ignore local stubbing for feature flags
config/initializers/zz_local_stubs.rb

.dumbjump
.projections.json
*.pem